<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.cakecraft.mapper.ApprovalMapper">
<!-- 결재 문서 : ApprovalDocument -->	
	<!-- 결재한 문서 목록 출력(기안문서 및 임시저장) -->
	<select id="selectApprDocListById"
			parameterType="String"
			resultType="com.goodee.cakecraft.vo.ApprovalDocument">
			SELECT
				document_no documentNo,
				id,
				document_title documentTitle,
				document_cd documentCd,
				document_sub_cd documentSubCd,
				start_day startDay,
				end_day endDay,
				temp_save tempSave,
				reg_dtime regDtime, 
				mod_dtime modDtime, 
				reg_id regId, 
				mod_id modId
			FROM approval_document
			<where>
				id = #{loginId} 
				AND temp_save = #{tempSave} 
			</where>
	</select>
	
	<!-- 결재자로 지정된 문서 목록 출력 -->
	<select id="selectApprDocListByApprId"
			parameterType="String"
			resultType="com.goodee.cakecraft.vo.ApprovalDocument">
			SELECT
				ad.document_no documentNo,
				ad.id id,
				ad.document_title documentTitle,
				ad.document_cd documentCd,
				ad.document_sub_cd documentSubCd,
				ad.start_day startDay,
				ad.end_day endDay,
				ad.temp_save tempSave,
				ad.reg_dtime regDtime, 
				ad.mod_dtime modDtime, 
				ad.reg_id regId, 
				ad.mod_id modId
			FROM approval_document ad
			<where>
				ad.document_no IN (
				SELECT ah.document_no
				FROM approval_history ah
				WHERE ah.approval_id = #{loginId})
			</where>
	</select>
	
	<!-- 결재자가 승인해야 할 문서 목록 출력 -->
	<select id="selectApprDocWaitListByNo"
		parameterType="String"
		resultType="com.goodee.cakecraft.vo.ApprovalDocument">
		SELECT
			document_no documentNo,
			id id,
			document_title documentTitle,
			document_cd documentCd,
			document_sub_cd documentSubCd,
			start_day startDay,
			end_day endDay,
			temp_save tempSave,
			reg_dtime regDtime, 
			mod_dtime modDtime, 
			reg_id regId, 
			mod_id modId
		FROM approval_document
		<where>
			document_no = #{documentNo} 
		</where> 
	</select>
	
	<!-- 결재자가 승인해야 할 문서번호 조회 -->
	<select id="selectApprDocWaitNoById"
		parameterType="String"
		resultType="com.goodee.cakecraft.vo.ApprovalHistory">
		SELECT ah2.document_no documentNo
		FROM approval_history ah2
		<where>
		 	(ah2.approval_level = 2 AND ah2.approval_status_cd = 2)
    		AND ah2.document_no IN (
        		SELECT ah3.document_no
        		FROM approval_history ah3
				WHERE 
            	(ah3.approval_id = #{loginId} AND ah3.approval_level = 3 AND ah3.approval_status_cd = 1)    
   			)
    		OR
    		(ah2.approval_id = #{loginId} AND ah2.approval_level = 2 AND ah2.approval_status_cd = 1);
		</where> 
	</select>
	
	<!-- 결재자가 승인해야 할 문서 개수 조회 -->
	<select id="selectApprDocWaitNoByIdCnt"
		parameterType="String"
		resultType="int">
		SELECT COUNT(*) cnt
		FROM approval_history ah2
		<where>
		 		(ah2.approval_level = 2 AND ah2.approval_status_cd = 2)
    		AND ah2.document_no IN (
        		SELECT ah3.document_no
        		FROM approval_history ah3
				WHERE 
            	(ah3.approval_id = #{loginId} AND ah3.approval_level = 3 AND ah3.approval_status_cd = 1)    
   			)
    		OR
    		(ah2.approval_id = #{loginId} AND ah2.approval_level = 2 AND ah2.approval_status_cd = 1);
		</where> 
	</select>

	<!-- 참조자로 지정된 문서 목록 출력 -->
	<select id="selectApprDocListByRefId"
			parameterType="String"
			resultType="com.goodee.cakecraft.vo.ApprovalDocument">
			SELECT
				ad.document_no documentNo,
				ad.id id,
				ad.document_title documentTitle,
				ad.document_cd documentCd,
				ad.document_sub_cd documentSubCd,
				ad.start_day startDay,
				ad.end_day endDay,
				ad.temp_save tempSave,
				ad.reg_dtime regDtime, 
				ad.mod_dtime modDtime, 
				ad.reg_id regId, 
				ad.mod_id modId
			FROM approval_document ad
			<where>
				ad.document_no IN (
				SELECT ar.document_no
				FROM approval_ref ar
				WHERE ar.ref_id = #{loginId})
			</where>
	</select>
	
	<!-- 결재 문서 개수 출력 
	<select id="selectApprDocCnt"
			parameterType="String"
			resultType="int">
			SELECT COUNT(*) as apprDocCnt
			FROM approval_document
			<where>
				id = #{loginId}
			</where>
	</select>
	-->
	
	<!-- 결재 상태 조회 -->
	<select id="selectApprStatusCnt"
			parameterType="String"
			resultType="int">
			SELECT COUNT(*) AS apprStatusCnt
			FROM approval_history
			<where>
				document_no = #{documentNo}
				AND approval_status_cd = #{approvalStatusCd}
			</where>
	</select>
	
	<!-- 결재문서 상세정보 출력 -->
	<select id="selectApprDocByNo"
			parameterType="String" 
			resultType="com.goodee.cakecraft.vo.ApprovalDocument">
			SELECT
				document_no documentNo,
				id,
				document_title documentTitle,
				document_content documentContent,
				document_cd documentCd,
				document_sub_cd documentSubCd,
				start_day startDay,
				end_day endDay,
				temp_save tempSave,
				reg_dtime regDtime, 
				mod_dtime modDtime, 
				reg_id regId, 
				mod_id modId
			FROM approval_document
			<where>
				document_no = #{documentNo}
			</where>
	</select>
	
	<!-- 결재이력 상세정보 출력 -->
	<select id="selectApprHistByNo"
			parameterType="String" 
			resultType="com.goodee.cakecraft.vo.ApprovalHistory">
			SELECT
				approval_no approvalNo,
				approval_id id,
				document_no documentNo,
				approval_level approvalLevel,
				approval_status_cd approvalStatusCd,
				reg_dtime regDtime, 
				mod_dtime modDtime, 
				reg_id regId, 
				mod_id modId
			FROM approval_history
			<where>
				document_no = #{documentNo}
				And approval_id = #{loginId}
			</where>
	</select>
	
	<!-- 이전 결재자의 결재상태 조회 -->
	<select id="selectApprHistByNoPreLv"
			parameterType="int" 
			resultType="com.goodee.cakecraft.vo.ApprovalHistory">
			SELECT
				approval_no approvalNo,
				approval_id approvalId,
				document_no documentNo,
				approval_level approvalLevel,
				approval_status_cd approvalStatusCd
			FROM approval_history
			<where>
				approval_no = #{approvalNo}
			</where>
	</select>
	
	<!-- 문서번호 및 결제레벨로 결재정보 조회 -->
	<select id="selectApprInfoByNo"
			parameterType="String" 
			resultType="com.goodee.cakecraft.vo.ApprovalHistory">
			SELECT
				approval_no approvalNo,
				approval_id approvalId,
				approval_level approvalLevel,
				approval_status_cd approvalStatusCd,
				reg_dtime regDtime, 
				mod_dtime modDtime, 
				reg_id regId, 
				mod_id modId
			FROM approval_history
			<where>
				document_no = #{documentNo}
				AND approval_level = #{approvalLevel}
			</where>
	</select>
	
	<!-- 문서번호 생성 -->
	<select id="selectDocumentNo"
		parameterType="Map"
		resultType="String">
		SELECT
			CONCAT(
			RIGHT(YEAR(CURRENT_TIMESTAMP), 2), 
			LPAD(MONTH(CURRENT_TIMESTAMP), 2, '0'),
			#{documentCd},
			#{documentSubCd},
			RIGHT(CURRENT_TIMESTAMP(4), 4)) AS documentNo;
	</select>
	
	<!-- 결재 문서 추가 -->
	<insert id="insertApprDoc"
			parameterType="hashMap">
			INSERT INTO approval_document(
				document_no,
				id,
				document_title,
				document_content,
				document_cd,
				document_sub_cd,
				start_day,
				end_day,
				temp_save,
				reg_dtime, 
				mod_dtime, 
				reg_id, 
				mod_id 
			)VALUES(
				#{documentNo},
				#{id},
				#{documentTitle},
				#{documentContent},
				#{documentCd},
				#{documentSubCd},
				#{startDay},
				#{endDay},
				#{tempSave},
				NOW(),
				NOW(),
				#{regId},
				#{modId}
			)
	</insert>
	
	<!-- 임시저장 문서 수정 -->
	<update id="updateApprDocTempY"
			parameterType="com.goodee.cakecraft.vo.ApprovalDocument">
			UPDATE approval_document
			SET document_title = #{documentTitle},
				document_content = #{documentContent},
				document_cd = #{documentCd},
				document_sub_cd = #{documentSubCd},
				start_day = #{startDay},
				end_day = #{endDay},
				temp_save = #{tempSave},
				mod_dtime = NOW()
			<where>
				document_no = #{documentNo}
			</where>
	</update>
	
	<!-- 임시저장 문서 삭제 -->
	<delete id="deleteApprDocTempY"
			parameterType="com.goodee.cakecraft.vo.ApprovalDocument">
			DELETE FROM approval_document 
			<where>
				document_no = #{documentNo}
			</where>
	</delete>
	
	
<!-- 결재 파일 : ApprovalFile -->
	<!-- 결재 파일 목록 조회 -->
	<select id="selectApprFile"
			parameterType="com.goodee.cakecraft.vo.ApprovalDocument"
			resultType="com.goodee.cakecraft.vo.ApprovalFile">
		SELECT 
			approval_file_no approvalFileNo,
			document_no documentNo,
			approval_filename approvalFilename,
			approval_filesize approvalFilesize,
			approval_filetype approvalFiletype,
			reg_dtime regDtime, 
			mod_dtime modDtime, 
			reg_id regId, 
			mod_id modId
		FROM approval_file
		<where>
			document_no = #{documentNo}
		</where>
	</select>
	
	<!-- 결재 파일 추가 -->
	<insert id="insertApprFile"
			parameterType="com.goodee.cakecraft.vo.ApprovalFile">
			INSERT INTO approval_file(
				document_no,
				approval_filename,
				approval_filesize,
				approval_filetype,
				reg_dtime, 
				mod_dtime, 
				reg_id, 
				mod_id
			)VALUES(
				#{documentNo},
				#{approvalFilename},
				#{approvalFilesize},
				#{approvalFiletype},
				NOW(),
				NOW(),
				#{regId},
				#{modId}
			)
	</insert>
	
	<!-- 결재 파일 삭제 -->
	<delete id="deleteApprFile"
			parameterType="com.goodee.cakecraft.vo.ApprovalFile">
			DELETE FROM approval_file
			<where>
				document_no = #{documentNo}
			</where>
	</delete>

	
<!-- 결재 참조자 : ApprovalRef -->
	<!-- 결재 참조자 조회 -->
	<select id="selectApprRefByNo"
			parameterType="String"
			resultType="com.goodee.cakecraft.vo.ApprovalRef">
			SELECT ref_id refId
				FROM approval_ref
			<where>
				document_no = #{documentNo}
			</where>
	</select>
	
	<!-- 결재 참조자 추가 -->
	<insert id="insertApprRef"
			parameterType="Map">
			INSERT INTO approval_ref(
				ref_id,
				document_no,
				reg_dtime, 
				mod_dtime, 
				reg_id, 
				mod_id
			)VALUES(
				#{refId},
				#{documentNo},
				NOW(),
				NOW(),
				#{id},
				#{id}
			)
	</insert>
	
	<!-- 결재 참조자 삭제 -->
	<delete id="deleteApprRef"
			parameterType="com.goodee.cakecraft.vo.ApprovalRef">
			DELETE FROM approval_ref
			<where>
				ref_no = #{refNo}
				document_no = #{documentNo}
				AND id = #{loginId} <!-- 문서 작성자가 삭제해야함 -->
			</where>
	</delete>
	
	
<!-- 결재 이력 : ApprovalHistory -->
	<!-- 결재 이력 목록 출력 -->
	<select id="selectApprHistListByPage"
			parameterType="com.goodee.cakecraft.vo.ApprovalHistory">
			SELECT
				approval_no approvalNo,
				approval_id approvalId,
				document_no documentNo,
				approval_level approvalLevel,
				approval_status_cd approvalStatusCd,
				reg_dtime regDtime, 
				mod_dtime modDtime, 
				reg_id regId, 
				mod_id modId
			FROM approval_history
			<where>
				approvalId = #{loginId}
				approvalLevel = #{approvalLevel}
				approvalStatusCd = #{approvalStatusCd}
			</where>
	</select>
	
	<!-- 결재 이력 추가 -->
	<insert id="insertApprHistory"
			parameterType="com.goodee.cakecraft.vo.ApprovalHistory">
			INSERT INTO approval_history(
				approval_id,
				document_no,
				approval_level,
				approval_status_cd,
				reg_dtime, 
				mod_dtime, 
				reg_id, 
				mod_id
			)VALUES(
				#{approvalId},
				#{documentNo},
				#{approvalLevel},
				#{approvalStatusCd},
				NOW(),
				NOW(),	
				#{regId},	<!-- 만든사람 = 문서작성자 이름 -->
				#{modId}	
			)
	</insert>
	
	<!-- 결재 이력 수정 -->
	<update id="updateApprHistory"
			parameterType="com.goodee.cakecraft.vo.ApprovalHistory">
			UPDATE approval_history
			SET approval_status_cd = #{approvalStatusCd},
				mod_dtime = NOW(), 
				mod_id = #{modId}		<!-- 수정한사람 = 결재자 이름 -->
			WHERE document_no = #{documentNo}
			AND approval_id = #{approvalId} 
	</update>
	
</mapper>