<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.cakecraft.mapper.AttendanceMapper">
	<!-- 출근 기록 저장 -->
	<insert id="insertStartDtime" parameterType="com.goodee.cakecraft.vo.EmpAttendance">
		INSERT INTO emp_attendance (
			id,
			start_dtime,
			end_dtime,
			reg_dtime,
			mod_dtime,
			reg_id,
			mod_id
		) VALUES (
			#{id},
			NOW(),
			CONCAT(CURDATE() + INTERVAL 1 DAY, ' 00:00:00'), -- 다음날 0시로 설정
			NOW(),
			NOW(),
			#{id},
			#{id}
		)
	</insert>

	<!-- 퇴근 기록 저장 -->
	<update id="updateEndDtime" parameterType="com.goodee.cakecraft.vo.EmpAttendance">
	    UPDATE emp_attendance
	    SET end_dtime = NOW(),
	        mod_dtime = NOW(),
	        mod_id = #{id}
	    WHERE id = #{id}
	        AND DATE(start_dtime) = CURDATE()
	</update>
		
	<!-- 출퇴근 이력 리스트 출력 -->
	<select id = "selectMyAttendanceList"
		parameterType="String"
		resultType="com.goodee.cakecraft.vo.EmpAttendance">
		SELECT
			id,
			start_dtime startDtime,
			end_dtime endDtime,
			reg_dtime regDtime,
			mod_dtime modDtime,
			reg_id regId,
			mod_id modId
		FROM emp_attendance
		<where>
			1=1 
            <if test="searchWord != null and searchWord != ''">
                AND start_dtime LIKE CONCAT('%', #{searchWord}, '%')
            </if>
		</where>
        ORDER BY reg_dtime DESC
	</select>
</mapper>