<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.cakecraft.mapper.CommonMapper">
	<select id="getCode" parameterType="String" resultType="String">
		SELECT CONCAT(grp_cd, cd) codeStr
		FROM st_std_cd
		<where>
			cd_nm = #{name}
		</where>
	</select>
	
	<select id="getName" parameterType="Map" resultType="String">
		SELECT cd_nm cdNm
		FROM st_std_cd
		<where>
			grp_cd = #{grpCd}
			AND cd = #{cd};
		</where>
	</select>
</mapper>