<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.cakecraft.mapper.FacilityMapper">
	<!-- 시설비품 리스트 출력 : 사용여부, 카테고리 -->
	<select id="selectFacilityList"
			parameterType="java.util.Map"
			resultType="com.goodee.cakecraft.vo.FacilityBase">
		SELECT 
			facility_no facilityNo,
			category_cd categoryCd, 
			facility_name facilityName,
			facility_note facilityNote,
			use_yn useYn,
			reg_dtime regDtime,
			mod_dtime modDtime,
			reg_id regId,
			mod_id modId
		FROM facility_base
		<where>
			1 = 1
			<if test='!useYn.equals("A")'>
				AND use_yn = #{useYn}
			</if>
			<if test='!categoryCd.equals("A")'>
				AND category_cd LIKE #{categoryCd}
			</if>
		</where>
		ORDER BY category_cd ASC
	</select>
	
	<!-- 시설비품 1개 -->
	<select id="selectFacilityByNo"
			parameterType="com.goodee.cakecraft.vo.FacilityBase"
			resultType="com.goodee.cakecraft.vo.FacilityBase">
		SELECT 
			facility_no facilityNo,
			category_cd categoryCd, 
			facility_name facilityName,
			facility_note facilityNote,
			use_yn useYn,
			reg_dtime regDtime,
			mod_dtime modDtime,
			reg_id regId,
			mod_id modId
		FROM facility_base
		WHERE facility_no = #{facilityNo}
	</select>
	
	<!-- 이름 중복검사 -->
	<select id="selectFacilityName"
			parameterType="com.goodee.cakecraft.vo.FacilityBase"
			resultType="Integer">
		SELECT COUNT(*) cnt
		FROM facility_base
		<where>
			facility_name = #{facilityName}
			<if test="facilityNo != -1">
				AND facility_no != #{facilityNo}
			</if>
		</where>
	</select>
	
	<!-- 시설 비품 추가 -->
	<insert id="insertFacility"
			parameterType="java.util.Map">
		INSERT INTO facility_base(
			category_cd,
			facility_name,
			facility_note,
			reg_dtime,
			mod_dtime,
			reg_id,
			mod_id)
		VALUES (
			#{facility.categoryCd},
			#{facility.facilityName},
			#{facility.facilityNote},
			NOW(),
			NOW(),
			#{regId},
			#{regId})
	</insert>
	
	<!-- 시설비품 수정 -->
	<update id="updateFacility"
			parameterType="java.util.Map">
		UPDATE facility_base
		SET 
			category_cd = #{facility.categoryCd},
			facility_name = #{facility.facilityName},
			facility_note = #{facility.facilityNote},
			use_yn = #{facility.useYn},
			mod_dtime = NOW(),
			mod_id = #{id}
		WHERE facility_no = #{facility.facilityNo}
	</update>
	
	<!-- 카테고리 리스트 출력 -->
	<select id="selectFacilityCdList"
			parameterType="java.util.Map"
			resultType="com.goodee.cakecraft.vo.StStdCd">
		SELECT 
			grp_cd grpCd,
			cd,
			cd_nm cdNm,
			use_yn useYn,
			reg_dtime regDtime,
			mod_dtime modDtime,
			reg_id regId,
			mod_id modId
		FROM st_std_cd
		<where>
			grp_cd = 'F001'
		<if test='!cd.equals("A")'>
			AND cd LIKE #{cd}
		</if>
		</where>
	</select>
	
	<!-- 시설비품별 코드 수 -->
	<select id="selectCategoryCnt"
			parameterType="java.util.Map"
			resultType="java.lang.Integer">
		SELECT COUNT(*) cnt
		FROM st_std_cd
		<where>
			grp_cd = 'F001'
			AND cd LIKE #{cd}
		</where>
	</select>
	
	<!-- 특정 시설비품의 수 -->
	<select id="selectFacilityCnt"
			parameterType="com.goodee.cakecraft.vo.StStdCd"
			resultType="java.lang.Integer">
		SELECT COUNT(*) cnt
		FROM facility_base
		WHERE category_cd = #{cd}
	</select>
	
	<!-- 카테고리 코드 추가 -->
	<insert id="insertCategoryCd"
			parameterType="com.goodee.cakecraft.vo.StStdCd">
		INSERT INTO st_std_cd (
			grp_cd,
			cd,
			cd_nm,
			reg_dtime,
			mod_dtime,
			reg_id,
			mod_id)
		VALUES (
			'F001',
			#{cd},
			#{cdNm},
			NOW(),
			NOW(),
			#{regId},
			#{regId}
		)
	</insert>
	
	<!-- 카테고리 코드 사용여부 수정 -->
	<update id="updateCategoryUse"
			parameterType="com.goodee.cakecraft.vo.StStdCd">
		UPDATE st_std_cd 
		SET use_yn = #{useYn}
		WHERE grp_cd = 'F001'
		AND cd = #{cd};
	</update>
	</mapper>