<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.cakecraft.mapper.StStdCdMapper">
<!-- grp_cd에 따른 리스트 받아오기  -->
<select id = "selectStStdCdList"
	parameterType = "String"
	resultType="com.goodee.cakecraft.vo.StStdCd">
	select
		grp_cd grpCd,
		cd,
		cd_nm cdNm,
		use_yn useYn,
		reg_dtime regDtime, 
		mod_dtime modDtime, 
		reg_id regId, 
		mod_id modId
	FROM st_std_cd
	WHERE grp_cd = #{code} AND use_yn = 'y'
</select>

<!-- 부서에 따른 팀 받아오기 -->
<select id = "selectTeamListByDept"
	parameterType = "String"
	resultType="com.goodee.cakecraft.vo.StStdCd">
	select
		grp_cd grpCd,
		cd,
		cd_nm cdNm,
		use_yn useYn,
		reg_dtime regDtime, 
		mod_dtime modDtime, 
		reg_id regId, 
		mod_id modId
	FROM st_std_cd
	WHERE grp_cd = 'T001' AND CD LIKE CONCAT(#{deptCd}, '%') AND use_yn = 'y'
</select>

<!-- 부서,팀 추가 시 이름 중복확인 -->
<select id = "selectCdNmCnt"
   parameterType="com.goodee.cakecraft.vo.StStdCd"
   resultType="int">
   SELECT COUNT(*) AS count
   FROM st_std_cd
   WHERE grp_cd = #{grpCd} AND cd_nm = #{cdNm}
</select>

<!-- 부서, 팀 추가 -->
<insert id="insertStStdCd"
	parameterType="com.goodee.cakecraft.vo.StStdCd">
      INSERT INTO st_std_cd(
      grp_cd,
      cd,
      cd_nm,
      reg_dtime, 
      mod_dtime, 
      reg_id, 
      mod_id
       ) VALUES (
           #{grpCd},
           #{cd},
           #{cdNm},
           NOW(),
           NOW(),
           #{regId},
           #{modId}
       )
</insert>

<!-- 부서에대한 카운트  -->
<select id = "selectDeptCnt"
   parameterType="com.goodee.cakecraft.vo.StStdCd"
   resultType="int">
   SELECT COUNT(*) AS count
   FROM st_std_cd
   WHERE grp_cd = #{grpCd} 
</select>

<!-- 팀에대한 카운트-->
<select id = "selectTeamCnt"
   parameterType="String"
   resultType="int">
	SELECT COUNT(*) AS count
	FROM st_std_cd
	WHERE cd LIKE CONCAT(#{code},'%')  AND grp_Cd = 'T001';
</select>

<!-- 부서,팀 이름 수정 -->
<update id = "updateCdNm"
	parameterType ="Map">
	UPDATE st_std_cd
	SET cd_nm = #{updateCdNm},
		mod_id = #{loginId},
		mod_dtime = NOW()
	WHERE grp_cd = #{grpCd} AND cd_nm = #{originCdNm}
</update>

</mapper>